<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-6 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>WE MAKE APPS FOR  </br> YOU </h1>
          <p>Check out simple age calculator</p>
        </div>
        <a href="https://ageindays.herokuapp.com/">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>COLORFUL BUTTONS </br>BUILDING</h1>
          <p>Email us for Buttons like these.</p>
        </div>
        <a href="https://designer-buttons.herokuapp.com/">more</a>
      <div class="ico-card">
        <i class="fa fa-empire"></i>
      </div>
      </div>
    </div>

  
  </div>
</div>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>